body, html {
  height: 100%;
  /* padding:0;
  background:rgba(115, 196, 255, 1);
  margin:0;
  overflow:hidden; */
}

body{
  /* The image used */
  background-image: url("zcXe4o6cB.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.canv{
  display:inline-block; 
}

.greetMe{
  font-weight: bolder;
  font-size: 4em;
  color: yellow;
  text-shadow: 2px 2px 5px black;
}

.question{
  font-weight: bolder;
  font-size: 4em;
  color: yellow;
  text-shadow: 2px 2px 5px black;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size:6vw;
  text-align: center;
  color: red;
  text-shadow: 2px 2px 5px yellow;
 
}

    
.hidden{
  display: none;
}

.insertStart{
    padding: 5%;
  align-content: center;
  text-align: center;
}
.model{
  /* margin-top: 5%; */
float: right;
height: 100%;
}
 .videoClip{
    display:inline-block;

} 

/* .startBtn{
  margin: auto; */

/* } */
.startBtn {
  display: inline-block;
  border-radius: 4px;
  background-color: yellow;
  border: none;
  color:blue;
  align-content: center;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
   margin: auto;
  border-radius: 7em;
  margin-top: 2em;
 
}

.startBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.startBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* .btn{
  margin: auto;
} */
.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: purple;
  border: none;
  color: yellow;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
   margin: 5px;
  border-radius: 7em;
  padding: 0.8em;
  /* margin-top: 2em; */

 
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}



/* .btnRestart {
  margin: auto;
} */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color:blue;
  border: none;
  color: yellow;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
  border-radius: 7em;
  margin-top: 2em;
 
}

.button  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btnRestart span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.btnRestart  {
  display: inline-block;
  border-radius: 4px;
  background-color:blue;
  border: none;
  color: yellow;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
  border-radius: 7em;
  margin-top: 2em;
 
}

.btnRestart  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btnRestart span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}




.button  {
  display: inline-block;
  border-radius: 4px;
  background-color:yellow;
  border: none;
  color: blue;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
  border-radius: 7em;
  margin-top: 2em;
 
}

.button  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* input
{
  border:1px solid #ccc;
  background-color:rgba 255 255 255 0;
  font-size:10px;
  padding:2px 5px;
}
  */

